@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 90px;
    /* Evitar que el contenido se superponga con la navbar fija */




}

html,
body {
    height: 100%;
    margin: 0;

}

.content {
    flex: 1;
    padding: 20px;
}

.footer {
    margin-top: 100px;
    background-color: #33333300;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    
}

main {
    width: 100%;
    margin: 0 auto;
}

.content-section {
    padding: 20px 0;
}

.content-section-skills {
    padding: 20px 0;
    background-color: #13131300;
    margin-top: 100px;
    margin-bottom: 100px;


}





.container-father {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los hijos se adapten al ancho */
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom:100px ;
}



.container-father-skills {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los hijos se adapten al ancho */
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;



}

.container-father-skills img {
    width: 12%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 4/3;
    object-fit: contain;
    transition: transform 1s ease-in-out;
    animation: scaleImages 12s infinite linear;
    opacity: 0.8;

}

@keyframes scaleImages {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.9;
    }

    10% {
        transform: scale(1.08);
        opacity: 1;
    }

    20% {
        transform: scale(1);
        opacity: 0.9;
    }

    30% {
        transform: scale(1.08);
        opacity: 1;
    }

    40% {
        transform: scale(1);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.08);
        opacity: 1;
    }

    60% {
        transform: scale(1);
        opacity: 0.9;
    }

    70% {
        transform: scale(1.08);
        opacity: 1;
    }

    80% {
        transform: scale(1);
        opacity: 0.9;
    }

    90% {
        transform: scale(1.08);
        opacity: 1;
    }
}

.proyects {
    flex-grow: 0;
    color: white;
    background-color: rgba(0, 255, 255, 0);
    width: 360px;
    height: auto;
    /* box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.226);  */
    border: 3px solid #3A1C5D;
    border-radius: 0px;
    background: #000000;
    box-shadow: -10px -10px 15px #0c0d10,
        5px 5px 10px #323340;



}

.proyects-image:hover {
    transform: scale(105%);
    transition: 0.2s linear;
}



.proyects-image img {
    width: 100%;
    object-fit: cover;
    /* border-radius: 8px; */
    cursor: pointer;
}

.proyects-info {
    margin: 20px;


}







.btn-proyects {
    background-color: #3A1C5D;
    color: white;
    padding: 20px;
    border-radius: 40px;
    margin: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    margin: 0 auto;
}

.btn-proyects:hover {
    background-color: #5E2E8E;
}

.btn-proyects:active {
    background-color: #A685D9;
    /* Morado pastel */
    transform: rotate(-5deg) scale(0.95);
}

.titles {
    color: rgb(250, 250, 250);
    text-align: left;

    font-size: 1.5rem;
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    scroll-margin-top: 200px;


}

.hr-titles {
    border-bottom: 1px solid #e81cff;
    width: 15%;

    /* margin-left: auto;
    margin-right: auto; */
}



h2 {
    font-size: 2rem;
    /* Tamaño para PC */
    text-align: center;
    color: white;

}

p {
    font-size: 1rem;
    /* Tamaño para PC */
    line-height: 1.6;
    text-align: justify;
    text-justify: inter-word;
    /* hyphens: auto; */
    word-spacing: -1px;
    letter-spacing: 0.5px;
    padding: 1.5rem;
}



.son-text {
    flex: 1 1 300px;
    max-width: 400px;
    text-align: center;
    font-size: 1.3rem;
    padding: 20px;
    background-color: rgba(0, 255, 255, 0);
    border-radius: 8px;
    color: white;
}

.son-img {
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(16, 51, 250, 0);
    border-radius: 8px;
}

.icon {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    cursor: pointer;

}

.icon i {
    margin: 5px;
    color: #ffffff;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0);
    border-radius: 50%;
    border: 2px solid #ffffff;

    /* animation: cambiarColor 15s infinite; */


}

.icon:hover {
    transition: 1s;
    /* transform: scale(1.1); */

}

.icon i:hover {
    background-color: #3A1C5D;

}




.image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.image img {
    border: 3px solid #3a1c5d00;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;


}






.animated {
    background: #ccc;
    margin: 200px 0;
}

.animation-in {
    animation-duration: 1s;
    animation-name: global-animation;
    animation-fill-mode: forwards;
}

.animated {
    opacity: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

@keyframes global-animation {
    0% {
        opacity: 0;
        transform: translateY(32px) perspective(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0) perspective(0);
    }
}















@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 14s linear infinite;
}




.background li:nth-child(0) {
    left: 18%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 69%;
    width: 155px;
    height: 155px;
    bottom: -155px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 79%;
    width: 190px;
    height: 190px;
    bottom: -190px;
    animation-delay: 2s;
}
.background li:nth-child(3) {
    left: 17%;
    width: 111px;
    height: 111px;
    bottom: -111px;
    animation-delay: 1s;
}
.background li:nth-child(4) {
    left: 43%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 6s;
}
.background li:nth-child(5) {
    left: 70%;
    width: 164px;
    height: 164px;
    bottom: -164px;
    animation-delay: 20s;
}
.background li:nth-child(6) {
    left: 87%;
    width: 119px;
    height: 119px;
    bottom: -119px;
    animation-delay: 22s;
}
.background li:nth-child(7) {
    left: 77%;
    width: 134px;
    height: 134px;
    bottom: -134px;
    animation-delay: 19s;
}
.background li:nth-child(8) {
    left: 61%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 24s;
}
.background li:nth-child(9) {
    left: 52%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 40s;
}
.background li:nth-child(10) {
    left: 83%;
    width: 178px;
    height: 178px;
    bottom: -178px;
    animation-delay: 16s;
}
.background li:nth-child(11) {
    left: 30%;
    width: 149px;
    height: 149px;
    bottom: -149px;
    animation-delay: 28s;
}
.background li:nth-child(12) {
    left: 57%;
    width: 194px;
    height: 194px;
    bottom: -194px;
    animation-delay: 50s;
}
.background li:nth-child(13) {
    left: 89%;
    width: 159px;
    height: 159px;
    bottom: -159px;
    animation-delay: 25s;
}
.background li:nth-child(14) {
    left: 40%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 1s;
}
.background li:nth-child(15) {
    left: 7%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 69s;
}
.background li:nth-child(16) {
    left: 87%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 62s;
}
.background li:nth-child(17) {
    left: 12%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 76s;
}
.background li:nth-child(18) {
    left: 62%;
    width: 152px;
    height: 152px;
    bottom: -152px;
    animation-delay: 5s;
}
.background li:nth-child(19) {
    left: 10%;
    width: 187px;
    height: 187px;
    bottom: -187px;
    animation-delay: 71s;
}
.background li:nth-child(20) {
    left: 3%;
    width: 184px;
    height: 184px;
    bottom: -184px;
    animation-delay: 25s;
}